<h1>Log In</h1>

<form method='post' action='/sessions'>
  <div class="row">
    <input type='text' name='username' placeholder='Username' />
    <input type='password' name='password' placeholder='Password' />
  </div>
  <div class="row">
    <input type='submit' value='Log in' />
  </div>
</form>

