<div class="container">
  <h2>You have selected the <%=@deck.name%> deck!</h2>
  <form method="post" value="rounds/@rounds.id">
    <input type="submit" value="Start a Game!" class="button">
  </form>

  </div>

