<div class="center col-12">
  <h1>Sign Up</h1>

  <form method='post' action='/users'>
    <div class="row">
      <input type='text' name='username' placeholder='Username' />
      <input type='password' name='password' placeholder='Password' />
    </div>
    <div class="row">
      <input type='submit'/>
    </div>
  </form>
</div>
