<h2> Question: <%= @card.id %> </h2>
<br>
<p><%= @card.question %></p>

 <form method="post" action="/guesses">
  <input type="hidden" name="card_id" value="<%="#{@card.id}"%> ">
  <input type="hidden" name="round_id" value="<%="#{@round.id}"%>" >
  <input type="text" name="guess" value= "answer">
  <input type="submit" value="continue">
</form>