<div class="left decks">
  <ul>
    <%@decks.each do |deck|%>
      <li>
        <form action='/rounds' method='post'>
          <input type="hidden" name='deck_id' value='<%=deck.id%>'>
          <input type='image' src="imgs/<%= deck.id%>.png" alt='PLAY'</a>
      </li>
    <% end %>
  </ul>
</div>

