<div>
  <ul>
    <%@decks.each do |deck|%>
      <li>
        <form action='/rounds' method='post'>
          <input type="hidden" name='deck_id' value='<%=deck.id%>'>
          <input type='submit'value='<%= deck.name %>'</a>
      </li>
    <% end %>
  </ul>
</div>

