<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/application.js"></script>

  <!-- Reference screen size for responsive design -->
  <meta name="viewport" width="device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div id="content">
  <header class="main_header col-10 col-offset-1">
    <img src="imgs/flashcard.png" />
    <a class="link_normalize" href="/"><h1 class="center col-6">FlashCards</h1></a>
    <nav class="center main_nav col-6">
      <% if logged_in? %>
        <form method="post" action="/">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Logout" />
        </form>
      <% else %>
        <form method="post" action="/">
          <input type="text" placeholder="Username" />
          <input type="password" placeholder="Password" />
          <input type="submit" value="Login" />
        </form>
      <% end %>
    </nav>
  </header>
  <%= yield %>
</div>
</body>
</html>
